<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body class="lay-blog">
<div class="header">
    <%- partial('_partial/header') %>
</div>
<div class="container-wrap">
    <div class="container">
        <%- body %>
    </div>
</div>
<div class="footer">
    <%- partial('_partial/footer') %>
</div>
</body>
</html>