<div class="contar-wrap">
    <div class="item-box">
        <!-- tag开始-->
        <% if (site.tags && site.tags.length > 0) { %>
            <div class="post-meta">
                <% site.tags.forEach(function(tags) { %>
                    <a href="<%= url_for(tags.path) %>">
                        <button type="button" style="width: 120px;height: 30px" class="layui-btn layui-btn-sm layui-bg-blue" >
                            #<%= tags.name %>
                        </button>
                    </a>
                <% }); %>
            </div>
        <% } %>
    </div>
</div>